In [639]:
# !pip install pandas
# !pip install scikit-learn

import pandas as pd
import numpy as np

In [640]:
df = pd.read_csv('laptopPrice.csv')
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [641]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    str
 1   processor_brand    823 non-null    str
 2   processor_name     823 non-null    str
 3   processor_gnrtn    823 non-null    str
 4   ram_gb             823 non-null    str
 5   ram_type           823 non-null    str
 6   ssd                823 non-null    str
 7   hdd                823 non-null    str
 8   os                 823 non-null    str
 9   os_bit             823 non-null    str
 10  graphic_card_gb    823 non-null    str
 11  weight             823 non-null    str
 12  warranty           823 non-null    str
 13  Touchscreen        823 non-null    str
 14  msoffice           823 non-null    str
 15  Price              823 non-null    int64
 16  rating             823 non-null    str
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), str(16)
memory usage: 122.3 KB

In [642]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [643]:
df.tail()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [644]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    str
 1   processor_brand    823 non-null    str
 2   processor_name     823 non-null    str
 3   processor_gnrtn    823 non-null    str
 4   ram_gb             823 non-null    str
 5   ram_type           823 non-null    str
 6   ssd                823 non-null    str
 7   hdd                823 non-null    str
 8   os                 823 non-null    str
 9   os_bit             823 non-null    str
 10  graphic_card_gb    823 non-null    str
 11  weight             823 non-null    str
 12  warranty           823 non-null    str
 13  Touchscreen        823 non-null    str
 14  msoffice           823 non-null    str
 15  Price              823 non-null    int64
 16  rating             823 non-null    str
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), str(16)
memory usage: 122.3 KB

In [645]:
df.columns

Index(['brand', 'processor_brand', 'processor_name', 'processor_gnrtn',
       'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit', 'graphic_card_gb',
       'weight', 'warranty', 'Touchscreen', 'msoffice', 'Price', 'rating',
       'Number of Ratings', 'Number of Reviews'],
      dtype='str')

In [646]:
df.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

In [647]:
df.isnull().sum()
df.dropna(inplace=True)

In [648]:
df['brand'].unique()

<StringArray>
['ASUS', 'Lenovo', 'acer', 'Avita', 'HP', 'DELL', 'MSI', 'APPLE']
Length: 8, dtype: str

In [649]:
df['processor_brand'].unique()

<StringArray>
['Intel', 'AMD', 'M1']
Length: 3, dtype: str

In [650]:
processor_brand={'Intel':1, 'AMD':2,'M1':3}

In [651]:

df['processor_name'].unique()

<StringArray>
[     'Core i3',      'Core i5', 'Celeron Dual',      'Ryzen 5',
      'Core i7',      'Core i9',           'M1', 'Pentium Quad',
      'Ryzen 3',      'Ryzen 7',      'Ryzen 9']
Length: 11, dtype: str

In [652]:
processor_name={'Core i3':1, 'Core i5':2, 'Core i7':3, 'Ryzen 3':4, 'Ryzen 5':5, 'Ryzen 7':6, 'M1':7,'celeron':8,'pentium Quad Core':9,'Core i9':10,'Ryzen 9':11}

In [653]:
processor_brand={'Intel':1, 'AMD':2, 'Apple':3}
df['processor_brand']=df['processor_brand'].map(processor_brand)

In [654]:

df['ram_gb'].unique()

<StringArray>
['4 GB', '8 GB', '16 GB', '32 GB']
Length: 4, dtype: str

In [655]:
ram_gb={4:1, 8:2, 12:3, 16:4, 24:5, 32:6}

In [656]:

df['ram_gb']=df['ram_gb'].map(ram_gb)

In [657]:
# Example: If 'Unnamed: 0' or index column exists
# df.drop('Unnamed: 0', axis=1, inplace=True)

df.drop(['Unnamed: 0'], axis=1, inplace=True, errors='ignore')

In [658]:
char = df.select_dtypes(include='object')
num = df.select_dtypes(exclude='object')

char.head()
num.head()

C:\Users\creat\AppData\Local\Temp\ipykernel_20364\102458178.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  char = df.select_dtypes(include='object')

   processor_brand  ram_gb  Price  Number of Ratings  Number of Reviews
0              1.0     NaN  34649                  3                  0
1              1.0     NaN  38999                 65                  5
2              1.0     NaN  39999                  8                  1
3              1.0     NaN  69990                  0                  0
4              1.0     NaN  26990                  0                  0

In [659]:
brand_dict={'ASUS':1, 'Lenovo':2, 'acer':3, 'Avita':4, 'HP':5, 'DELL':6, 'MSI':7, 'APPLE':8}

In [660]:
df['brand']=df['brand'].map(brand_dict)

In [661]:
df['processor_name'].unique()

<StringArray>
[     'Core i3',      'Core i5', 'Celeron Dual',      'Ryzen 5',
      'Core i7',      'Core i9',           'M1', 'Pentium Quad',
      'Ryzen 3',      'Ryzen 7',      'Ryzen 9']
Length: 11, dtype: str

In [662]:
touchscreen_dict={'No':0,'Yes':1}
df['Touchscreen'] = df['Touchscreen'].map(touchscreen_dict)

In [663]:
ram_type_dict = {'DDR4':1, 'DDR3':2, 'LPDDR4':3, 'LPDDR3':4}
df['ram_type'] = df['ram_type'].map(ram_type_dict)

In [664]:
processor_gnrtn_dict = {'11th Gen':1, '12th Gen':2, '10th Gen':3, '9th Gen':4}
df['processor_gnrtn'] = df['processor_gnrtn'].map(processor_gnrtn_dict)

In [665]:
os_dict = {'Windows':1, 'macOS':2, 'Linux':3}
df['os'] = df['os'].map(os_dict)

In [666]:
ram_gb_dict = {'8GB':1, '16GB':2, '4GB':3, '12GB':4}
df['ram_gb'] = df['ram_gb'].map(ram_gb_dict)

In [667]:
ssd_dict = {'256GB SSD':1, '512GB SSD':2, '1TB SSD':3}
df['ssd'] = df['ssd'].map(ssd_dict)

In [668]:
os_bit_dict = {'64-bit':1, '32-bit':2}
df['os_bit'] = df['os_bit'].map(os_bit_dict)

In [669]:
graphic_card_gb_dict = {'4GB':1, '8GB':2, '12GB':3, '16GB':4}
df['graphic_card_gb'] = df['graphic_card_gb'].map(graphic_card_gb_dict)

In [670]:
weight_dict = {'1.5 kg':1, '2.0 kg':2, '1.8 kg':3, '2.5 kg':4}
df['weight'] = df['weight'].map(weight_dict)

In [671]:
warranty_dict = {'1 Year':1, '2 Year':2}
df['warranty'] = df['warranty'].map(warranty_dict)

In [672]:
msoffice_dict = {'Yes':1, 'No':2}
df['msoffice'] = df['msoffice'].map(msoffice_dict)

In [673]:
rating_dict = {'4.0 out of 5 stars':1, '4.5 out of 5 stars':2, '3.5 out of 5 stars':3, '3.0 out of 5 stars':4, '2.5 out of 5 stars':5}
df['rating'] = df['rating'].map(rating_dict)

In [674]:
df['Number of Ratings']

0       3
1      65
2       8
3       0
4       0
       ..
818     0
819     0
820     0
821     0
822    18
Name: Number of Ratings, Length: 823, dtype: int64

In [675]:
os_dict = {'Windows 11 Home':1, 'Windows 10 Home':2, 'Windows 11 Pro':3, 'Windows 10 Pro':4}
df['os'] = df['os'].map(os_dict)

In [676]:
hdd_dict = {'256GB SSD':1, '1TB HDD':2, '512GB SSD':3, '128GB SSD + 1TB HDD':4}
df['hdd'] = df['hdd'].map(hdd_dict)

In [677]:
df.to_csv('clean_laptop_data.csv', index=False)

In [678]:
df.dropna(inplace=True)

In [679]:
df

Empty DataFrame
Columns: [brand, processor_brand, processor_name, processor_gnrtn, ram_gb, ram_type, ssd, hdd, os, os_bit, graphic_card_gb, weight, warranty, Touchscreen, msoffice, Price, rating, Number of Ratings, Number of Reviews]
Index: []

In [680]:
x = df.drop('Price', axis=1)
y = df[['Price']]

In [681]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(658, 18) (165, 18) (658, 1) (165, 1)

In [682]:
x_train

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
239,1,1,2,3,3,1,2,2,1,1,1,1,2,1,NaN,2,0,0
707,3,2,4,2,1,1,2,2,1,1,1,1,2,1,NaN,3,313,39
759,1,2,10,2,1,1,2,2,1,2,3,1,1,1,NaN,2,0,0
432,1,1,2,1,2,1,1,1,1,1,2,1,1,1,NaN,2,0,0
299,1,1,2,3,2,3,2,2,1,2,1,1,2,1,NaN,3,76,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2,1,1,3,1,1,3,2,1,1,1,1,1,1,NaN,3,10,1
106,5,1,1,3,2,1,2,2,1,1,1,2,1,1,NaN,2,0,0
270,2,1,2,3,2,1,2,2,1,1,1,1,4,2,NaN,3,48,12
435,7,1,2,1,2,2,1,3,2,2,5,1,1,1,NaN,3,24,5
102,1,1,1,3,2,1,2,2,1,1,1,2,2,1,NaN,2,0,0

In [683]:
x_test

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
610,8,3,7,1,2,1,2,2,3,1,1,1,2,1,NaN,3,6725,629
174,1,1,1,3,2,1,3,1,1,1,1,1,2,1,NaN,3,53,6
67,2,1,1,1,1,1,3,2,1,1,1,1,2,1,NaN,3,529,39
168,6,1,1,1,2,1,1,1,1,1,1,2,1,1,NaN,2,83,15
275,2,1,2,1,2,1,2,2,1,1,2,1,2,1,NaN,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,2,1,2,3,2,1,2,2,1,2,1,1,2,1,NaN,3,17,2
211,5,1,2,5,2,1,3,2,1,1,1,1,2,2,NaN,2,0,0
448,3,1,2,3,2,1,3,1,1,1,1,1,1,1,NaN,2,8,3
766,2,2,10,2,1,1,2,2,1,1,3,1,1,1,NaN,2,4,1
526,2,1,5,1,3,1,2,2,1,2,2,1,1,1,NaN,2,0,0

In [684]:
# The split is already done and variables are available.
# No need to split again.

In [685]:
x_train

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
239,1,1,2,3,3,1,2,2,1,1,1,1,2,1,NaN,2,0,0
707,3,2,4,2,1,1,2,2,1,1,1,1,2,1,NaN,3,313,39
759,1,2,10,2,1,1,2,2,1,2,3,1,1,1,NaN,2,0,0
432,1,1,2,1,2,1,1,1,1,1,2,1,1,1,NaN,2,0,0
299,1,1,2,3,2,3,2,2,1,2,1,1,2,1,NaN,3,76,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2,1,1,3,1,1,3,2,1,1,1,1,1,1,NaN,3,10,1
106,5,1,1,3,2,1,2,2,1,1,1,2,1,1,NaN,2,0,0
270,2,1,2,3,2,1,2,2,1,1,1,1,4,2,NaN,3,48,12
435,7,1,2,1,2,2,1,3,2,2,5,1,1,1,NaN,3,24,5
102,1,1,1,3,2,1,2,2,1,1,1,2,2,1,NaN,2,0,0

In [686]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

# Impute missing values in x_train and x_test
imputer = SimpleImputer(strategy='mean')
x_train_imputed = imputer.fit_transform(x_train)
x_test_imputed = imputer.transform(x_test)

lr = LinearRegression()
lr.fit(x_train_imputed, y_train)

pred_lr = lr.predict(x_test_imputed)

e:\Data Science\.venv\Lib\site-packages\sklearn\impute\_base.py:641: UserWarning: Skipping features without any observed values: ['msoffice']. At least one non-missing value is needed for imputation with strategy='mean'.
  warnings.warn(
e:\Data Science\.venv\Lib\site-packages\sklearn\impute\_base.py:641: UserWarning: Skipping features without any observed values: ['msoffice']. At least one non-missing value is needed for imputation with strategy='mean'.
  warnings.warn(

In [687]:
x_test

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
610,8,3,7,1,2,1,2,2,3,1,1,1,2,1,NaN,3,6725,629
174,1,1,1,3,2,1,3,1,1,1,1,1,2,1,NaN,3,53,6
67,2,1,1,1,1,1,3,2,1,1,1,1,2,1,NaN,3,529,39
168,6,1,1,1,2,1,1,1,1,1,1,2,1,1,NaN,2,83,15
275,2,1,2,1,2,1,2,2,1,1,2,1,2,1,NaN,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,2,1,2,3,2,1,2,2,1,2,1,1,2,1,NaN,3,17,2
211,5,1,2,5,2,1,3,2,1,1,1,1,2,2,NaN,2,0,0
448,3,1,2,3,2,1,3,1,1,1,1,1,1,1,NaN,2,8,3
766,2,2,10,2,1,1,2,2,1,1,3,1,1,1,NaN,2,4,1
526,2,1,5,1,3,1,2,2,1,2,2,1,1,1,NaN,2,0,0

In [688]:
x_train

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
239,1,1,2,3,3,1,2,2,1,1,1,1,2,1,NaN,2,0,0
707,3,2,4,2,1,1,2,2,1,1,1,1,2,1,NaN,3,313,39
759,1,2,10,2,1,1,2,2,1,2,3,1,1,1,NaN,2,0,0
432,1,1,2,1,2,1,1,1,1,1,2,1,1,1,NaN,2,0,0
299,1,1,2,3,2,3,2,2,1,2,1,1,2,1,NaN,3,76,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2,1,1,3,1,1,3,2,1,1,1,1,1,1,NaN,3,10,1
106,5,1,1,3,2,1,2,2,1,1,1,2,1,1,NaN,2,0,0
270,2,1,2,3,2,1,2,2,1,1,1,1,4,2,NaN,3,48,12
435,7,1,2,1,2,2,1,3,2,2,5,1,1,1,NaN,3,24,5
102,1,1,1,3,2,1,2,2,1,1,1,2,2,1,NaN,2,0,0

In [689]:
y_train

      Price
239   65990
707   44990
759   72400
432   83990
299   72990
..      ...
71    39998
106   44990
270   64990
435  179990
102   41990

[658 rows x 1 columns]

In [690]:
from sklearn.ensemble import RandomForestRegressor

rfg = RandomForestRegressor(random_state=42)
rfg.fit(x_train, y_train.values.ravel())

pred = rfg.predict(x_test)

In [691]:
pred

array([ 99820.        ,  39725.99      ,  39239.74      ,  41312.89      ,
        75916.5       ,  70765.59      , 160971.2       ,  36933.64857143,
        53673.55      ,  59129.84      , 154763.4547619 ,  63315.24666667,
        85371.48666667,  57734.36      ,  58647.06      ,  47020.17      ,
        44043.78666667,  61058.07      ,  57077.37      ,  95094.645     ,
       137687.01380952,  63960.02      ,  78377.79      ,  61470.5       ,
        81640.1       ,  71353.91      ,  63802.605     ,  60714.035     ,
        39643.2       ,  41107.6       ,  73462.89833333,  82745.06333333,
        64195.52      ,  43725.67      ,  63476.29      , 142498.        ,
        55859.93      ,  42453.48      ,  89898.67      ,  37228.25      ,
        61651.16      ,  47093.23      ,  61599.58297619, 113312.64      ,
        59837.62      ,  41712.1       ,  59865.925     ,  53847.79      ,
        39334.53      ,  91943.11      , 131841.64666667, 142730.81      ,
        72585.04      ,  97665.03      ,  91968.4       ,  65636.69      ,
        63825.84      ,  61058.07      , 135163.33333333,  57406.045     ,
       129337.26785714, 181053.08333333,  99915.50333333,  45183.65      ,
        49834.52      ,  61140.99      , 105773.35071429,  40210.86333333,
        94426.79      ,  45332.66      ,  39785.95      ,  76022.99      ,
        64637.73      ,  72972.18      ,  81736.35      , 129337.26785714,
        39826.42      ,  43925.50809524,  63139.55      ,  65330.92      ,
       130206.14      , 107910.14333333,  59285.38      ,  44420.31      ,
        79581.7       ,  44872.94      ,  47722.41333333, 129337.26785714,
        66724.54      ,  60306.48      , 107816.31333333,  64815.79      ,
        78229.225     , 114061.        , 104196.34      , 126248.37033333,
        64932.95      , 123386.        ,  65307.46      ,  58359.05      ,
        61261.61380952,  81014.88      ,  26958.94714286,  39834.13      ,
        87238.26      , 114061.        ,  61724.95      ,  33522.57214286,
        43430.        ,  27483.84833333,  47247.55      ,  38391.46666667,
        75924.14      ,  96666.20147186,  66750.66      ,  75526.48666667,
       121611.        ,  76619.37      ,  23795.51      ,  73797.88      ,
       193462.        ,  42361.59      , 136646.83333333, 108673.45      ,
        52842.83      ,  79798.3       ,  91253.36      ,  82601.84      ,
        46246.14      ,  85372.1       ,  61857.6       ,  39159.96      ,
        79109.65      ,  93008.53      ,  74632.19      ,  40345.39      ,
        37542.91      ,  39354.56      , 139420.27      , 102883.1       ,
       119171.5       ,  51895.94      ,  55955.97      , 152888.6       ,
        78305.6595    ,  80460.09      , 173758.41      , 163456.95      ,
        78672.2       ,  76844.83283333,  78330.91      ,  40928.4       ,
        57032.03083333,  60201.4       ,  97388.505     , 119222.42      ,
        38799.94666667,  54457.43      ,  63802.605     , 145902.82666667,
        72166.7575    ,  89574.14      ,  64077.0325    ,  83641.785     ,
       117430.13      ])